<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= restaurant.name%>,
    <%= restaurant.address%>,
    <%= restaurant.phone_number%>,
    <%= restaurant.category%>
    <%= restaurant.id%>
    <td><%= link_to 'Details | ', restaurant %></td>
  </li>
  <% end %>
</ul>


